name: Publish
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
permissions:
  contents: write
  id-token: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: publish
      url: https://pypi.org/p/sqlframe
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Install uv
      uses: astral-sh/setup-uv@v5
      with:
        python-version: '3.13'
    - name: Package
      run: uv build
    - name: Publish
      uses: pypa/gh-action-pypi-publish@release/v1
    - name: Create release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref_name }}
      run: |
        gh release create "$tag" \
            --repo="$GITHUB_REPOSITORY" \
            --title="SQLFrame ${tag#v}" \
            --generate-notes
